<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') -%>
  <body>
    <%- include('../partials/skillsNav.ejs') -%>  
    <h1><%=skill.skill%></h1>
      <%- include('../partials/nav.ejs') -%>
    <p>Check out my skills</p>
    

   
  </body>
</html>