<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') -%>
  <body>
      <h1></h1>
      <%- include('../partials/nav.ejs') -%>
    <p>Check out my skills</p>
    <p>Check out my skills</p>
    <p>Check out my skills</p>

   
  </body>
</html>