body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-color: rgb(103, 73, 73);
  /* text-align: center; */
  /* display: flex; */
  /* align-items: center; */
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

a {
  display: inline;
  font-size: 20px;
}

li {
  display: inline;
  width: 600px;
}

p {
  color: black;
  display: inline;
}

form {
  display: inline;
}
